<h2>About Me</h2>
<p>
  I am a Senior Engineer in the MT Team at Unbabel, Portugal. I work on the system that serves MT inference. 
  I am also wrapping up my Ph.D. on distributed systems and cloud computing from UCLouvain, Belgium and IST, Portugal.
  I am advised by <a href="https://mcanini.github.io/">Marco Canini</a> and
  <a href="http://www.gsd.inesc-id.pt/~rodrigo/">Rodrigo Rodrigues</a>.
  <br>
  My research interests include but are not limited to Black-box optimization,
  Big data frameworks, large-scale distributed systems, cloud computing and machine learning.
  </p>

  If you want to see what I am reading and which books I recommend for you to read, check out this <a href="reading">link</a>.
<h2>Current Activities</h2>
  <h2>Recent Learnings</h2>
  <ul>
    <li>Udacity Nanodegree: AWS Cloud Architect (<a href=https://confirm.udacity.com/4VRCJU2L>Certificate</a>)</li>
    <li>Udacity Nanodegree: Cloud DevOps Engineer (<a href=https://confirm.udacity.com/GEQCSSU2>Certificate</a>)</li>
    <li>Udacity Nanodegree: Data Engineering (<a href=https://confirm.udacity.com/A6QMSJEJ>Certificate</a>)</li>
  </ul>

<h2>Education</h2>
<ul>
  <li>Bachelors in Computer Engineering (2008-2012): COMSATS University, Islamabad Pakistan</li>
  <li>Masters in Distributed Computing (2013-2015): UPC, Barcelona and KTH, Stockholm </li>
  <li>Ph.D. in Distributed Computing (2015-2021): UCLouvain, Belgium and IST, Portugal</li>
</ul>

<h2>Experience and Internships</h2>
<ul>
  <li>Senior Engineer (July 2021 - Present) @ Unbabel, Portugal</li>
  <li>Research Engineer (May 2020 - Dec 2021) @ KTH, Sweden (Part-time)</li>
  <li>Visiting Ph.D Student (Jan 2017 - May 2017 and Jan 2018 - May 2018) @ KAUST, Saudi Arabia</li>
  <li>Research Intern (Feb 2015 - July 2015) @ Telefonica Research, Spain</li>
</ul>

<h2>Recent Publications</h2>
<ul>
  <li><a href="papers/vanir.socc20.pdf">Finding the Right Cloud Configuration for Analytics Clusters.</a> M. Bilal, M. Canini, R. Rodrigues. SoCC 2020.</li>
  <li><a href="papers/1374-Bilal.pdf">Do the Best Cloud Configurations Grow on Trees? An Experimental Evaluation of Black Box Algorithms for Optimizing Cloud Workloads.</a> 
    M. Bilal, M. Serafini, M. Canini, R. Rodrigues. VLDB 2020.</li>
  <li><a href="papers/chimp.pdf">Chimp: Crowdsourcing human inputs for mobile phones.</a> Mario Almeida, Muhammad Bilal, Alessandro Finamore, Ilias Leontiadis, Yan Grunenberger, Matteo Varvello, Jeremy Blackburn.
     Proceedings of the 2018 World Wide Web Conference, 2018 </li>
  <li><a href="papers/socc17.pdf">Towards automatic parameter tuning of stream processing systems</a>. M. Bilal, M. Canini. In Proceedings of SoCC'17, Sep 2017.</li>
</ul>
You can find links to all publications on <a href=https://scholar.google.com/citations?user=HlNg0VwAAAAJ&hl=en>my google scholar profile</a>. 

<!-- <h2>Internships</h2>
<ul>
  <li></li>
  <li></li>
</ul> -->
<!-- <p>Adventures in CS is my blog.</p> -->

<hr />

<ul class="fa-ul main-list">
  <!-- <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span> 
    <a href="http://adventuresincs.com">My Blog</a>
  </li> -->

    <li class="main-list-item">
<!--     <span class="fa fa-github fa-lg main-list-item-icon"></span> -->
    <a href="https://github.com/MBtech">GitHub</a>
  </li>

  <li class="main-list-item">
<!--     <span class="fa fa-github fa-lg main-list-item-icon"></span> -->
    <a href="https://drive.google.com/file/d/1-bYzGB6NAU7_xz_9kojLCytAer46SOxR/view?usp=sharing">CV</a>
  </li>
</ul>
