<h2>About Me</h2>
<p>
  I am a Senior Engineering Manager of the AI Operations team at Unbabel. The team works at the interaction of AI + Data and Platform engineering.
  I am also wrapping up my Ph.D. on distributed systems and cloud computing from UCLouvain, Belgium and IST, Portugal.
  I am advised by <a href="https://mcanini.github.io/">Marco Canini</a> and
  <a href="http://www.gsd.inesc-id.pt/~rodrigo/">Rodrigo Rodrigues</a>.
  <br>
  My professional interests include but are not limited to Distributed computing, AI/ML, Cloud computing, Psychology, Economics, Business, and Organizational Psychology.
  </p>

  I occassionally write some posts. You can find my medium profile with some of my blogposts <a href="https://medium.com/@thelearningfellow">here</a>.

  If you want to see what I am reading and which books I recommend for you to read, check out this <a href="reading">link</a>.
<h2>Current Activities</h2>
<ul>
  <li>Software Engineering at Google (Book)</li>
  <li>Managing Humans (Book)</li>
</ul>

<h2>Education</h2>
<ul>
  <li>Bachelors in Computer Engineering (2008-2012): COMSATS University, Islamabad Pakistan</li>
  <li>Masters in Distributed Computing (2013-2015): UPC, Barcelona and KTH, Stockholm </li>
  <li>Ph.D. in Distributed Computing (2015-2021): UCLouvain, Belgium and IST, Portugal</li>
</ul>

<h2>Experience and Internships</h2>
<ul>
  <li>Senior Engineer -> Senior Engineering Manager (July 2021 - Present) @ Unbabel, Portugal</li>
  <li>Research Engineer (May 2020 - Dec 2021) @ KTH, Sweden (Part-time)</li>
  <li>Visiting Ph.D Student (Jan 2017 - May 2017 and Jan 2018 - May 2018) @ KAUST, Saudi Arabia</li>
  <li>Research Intern (Feb 2015 - July 2015) @ Telefonica Research, Spain</li>
</ul>

<h2>Recent Publications</h2>
<ul>
  <li>With Great Freedom Comes Great Opportunity: Rethinking Resource Allocation for Serverless Functions. M. Bilal, M. Canini, R. Fonseca, R. Rodrigues. EuroSys 2023.</li>
  <li><a href="papers/vanir.socc20.pdf">Finding the Right Cloud Configuration for Analytics Clusters.</a> M. Bilal, M. Canini, R. Rodrigues. SoCC 2020.</li>
  <li><a href="papers/1374-Bilal.pdf">Do the Best Cloud Configurations Grow on Trees? An Experimental Evaluation of Black Box Algorithms for Optimizing Cloud Workloads.</a> 
    M. Bilal, M. Serafini, M. Canini, R. Rodrigues. VLDB 2020.</li>
  <li><a href="papers/chimp.pdf">Chimp: Crowdsourcing human inputs for mobile phones.</a> Mario Almeida, Muhammad Bilal, Alessandro Finamore, Ilias Leontiadis, Yan Grunenberger, Matteo Varvello, Jeremy Blackburn.
     Proceedings of the 2018 World Wide Web Conference, 2018 </li>
  <li><a href="papers/socc17.pdf">Towards automatic parameter tuning of stream processing systems</a>. M. Bilal, M. Canini. In Proceedings of SoCC'17, Sep 2017.</li>
</ul>
You can find links to all publications on <a href=https://scholar.google.com/citations?user=HlNg0VwAAAAJ&hl=en>my google scholar profile</a>. 

<!-- <h2>Internships</h2>
<ul>
  <li></li>
  <li></li>
</ul> -->
<!-- <p>Adventures in CS is my blog.</p> -->

<hr />

<ul class="fa-ul main-list">
  <!-- <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span> 
    <a href="http://adventuresincs.com">My Blog</a>
  </li> -->

    <li class="main-list-item">
<!--     <span class="fa fa-github fa-lg main-list-item-icon"></span> -->
    <a href="https://github.com/MBtech">GitHub</a>
  </li>

</ul>
