<h2>About Me</h2>
<p>I am a Ph.D student dealing with distributed systems and cloud computing. 
  Currently I am doing my Ph.D in Distributed Computing at UCLouvain, Belgium and IST, Portugal. 
  I am advised by <a href="https://mcanini.github.io/">Marco Canini</a> and 
  <a href="http://www.gsd.inesc-id.pt/~rodrigo/">Rodrigo Rodrigues</a>. 
  My research interests include but are not limited to Black-box optimization, 
  Big data frameworks, large-scale distributed systems, cloud computing and machine learning. 
  </p>

<h2>Education</h2>
<ul>
  <li>Bachelors in Computer Engineering (2008-2012): COMSATS University, Islamabad Pakistan</li>
  <li>Masters in Distributed Computing (2013-2015): UPC, Barcelona and KTH, Stockholm </li>
  <li>Ph.D. in Distributed Computing (2015-present): UCLouvain, Belgium and IST, Portugal</li>
</ul>

<!-- <h2>Internships</h2>
<ul>
  <li></li>
  <li></li>
</ul> -->
<!-- <p>Adventures in CS is my blog.</p> -->

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
<!--     <span class="fa fa-user fa-lg main-list-item-icon"></span> -->
    <a href="http://adventuresincs.com">My Blog</a>
  </li>
  
    <li class="main-list-item">
<!--     <span class="fa fa-github fa-lg main-list-item-icon"></span> -->
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
</ul>
