<h2>Reading List</h2>
<p>
    Here are the books that I have read. Some of them I recommend for you to read as well if you are interested, others I don't ;) 
    <ul>
        <li></li>
        
    </ul>
</p>


<!-- <h2>Internships</h2>
<ul>
  <li></li>
  <li></li>
</ul> -->
<!-- <p>Adventures in CS is my blog.</p> -->

<hr />

<ul class="fa-ul main-list">
  <!-- <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span> 
    <a href="http://adventuresincs.com">My Blog</a>
  </li> -->

    <li class="main-list-item">
<!--     <span class="fa fa-github fa-lg main-list-item-icon"></span> -->
    <a href="https://github.com/MBtech">GitHub</a>
  </li>

  <li class="main-list-item">
<!--     <span class="fa fa-github fa-lg main-list-item-icon"></span> -->
    <a href="https://drive.google.com/file/d/1-bYzGB6NAU7_xz_9kojLCytAer46SOxR/view?usp=sharing">CV</a>
  </li>
</ul>
