<h2>Reading List</h2>
<p>
    Here are the books that I have read. Some of them I recommend for you to read as well if you are interested, others I don't ;) </br>
    
    A highly recommended book doesn't mean that I like everything about the book or even agree with all the things in it. 
    But I am simply saying that the perspective is worth a listen. 

    It's an incomplete list at the moment. 
    
    The books are in a rough recommendation order. Not an exact ranking but I will add that soon enough.

    <h3>Currently Listening to:</h3> 
    <ol>
        <li>Inspired (By Marty Cagan)</li>
       <li>The Dunkward's Walk: How Randomness Rules Our Lives (By Leonard Mlodinow)</li>
        <li>Irrational Exuberance (By Robert J. Shiller)</li>
        
    <ol>

    <h3>Finance and Economics</h3>
    <ol>
        <li>Misbehaving: The Making of Behavioral Economics (By Richard H. Thaler)<em style="background-color:powderblue;"> Highly Recommended </em></li>
        <li>A Random Walk Down Wall Street, 12th Edition (By Burton G. Malkiel)<em style="background-color:powderblue;"> Highly Recommended </em></li>
        <li>Rich Data Poor Dad: 20th Anniversary Edition (By Robert T. Kiyosaki)<em style="background-color:powderblue;"> Highly Recommended </em></li>
        <li>Markets Never Forget (But People Do): How Your Memory is Costing You Money and Why This Time Isn't Different (By Ken Fisher and Lara Hoffmans)<em style="background-color:powderblue;"> Highly Recommended </em></li>
        <li>The Little Book That Still Beats the Market (By Joel Greenblatt)</li>
        <li>How to Manage Your Money When You Don't Have Any (By Erik Wecks)</li>
    </ol>

    <h3>Psychology</h3>
    <ol>
        <li>Mistakes were Made (but not by me): Why we Justify Foolish Beliefs, Bad Decisions, and Hurtful Acts (By Carol Tavris and Elliot Aronson)<em style="background-color:powderblue;"> Highly Recommended </em></li>
        <li>The Paradox of Choice (By Barry Schwartz)<em style="background-color:powderblue;"> Highly Recommended </em></li>
        <li>Never Split the Difference (By Chriss Voss and Tahl Raz)<em style="background-color:powderblue;"> Highly Recommended </em></li>
        <li>Quirkology (By Richard Wiseman)</li>
        <li>Surrounded by Idiots (By Thomas Erikson)</li>
    </ol>


    <h3>Business and Marketting</h3>
    <ol>
        <li>Oversubscribed (By Daniel Priestley)</li>
        <li>The Membership Economy (By Robbie Kellman Baxter)</li>
        <li>Chaos Monkeys (By Antonio Garcia Martinez)</li>
    </ol>

    <h3>Technology and Science</h3>
    <ol>
        <li>Prediction Machines (By Ajay Agrawal, Joshua Gans and Avi Goldfarb)</li>
        <li>Algorithms to Live By (By Brian Christian and Tom Griffiths)</li>
        <li>How to (By Randall Munroe)</li>
    </ol>

    <h3>Other Non-fictions</h3>
    <ol>
        <li>Surely You're Joking, Mr. Feynman (by Richard Feynman)<em style="background-color:powderblue;"> Highly Recommended </em></li>
        <li>Bad Blood: Secrets and Lies in a Silicon Valley Startup (by John Carreyrou)</li>
        <li>Ethics in the Real World (by Peter Singer)</li>
        <li>Born a crime (by Trevor Noah)</li>
        <li>The View from the Cheap Seats: Selected Nonfiction (By Neil Gaiman)</li>
        <li>Deep Survival (by Laurence Gonzales)</li>
        <li>How They Rule the World: The 22 Secret Strategies of Global Power (by Pedro Baños)</li>
        <li>Rivals! Frenemies Who Changed the World (by Scott McCormick)</li>
        <li>Superforecasting: The Art and Science of Prediction (by Philip Tetlock and Dan Gardner)</li>
        <li>Everything is Fucked: A Book About Hope (by Mark Manson)</li>
        <li>Poorly Made in China: An Insider's Account of the Tactics Behind China's Production Game (by Paul Midler)</li>
        <li>Moonwalking with Einstein: The Art and Science of Remembering Everything (by Joshua Foer)</li>
        <li>The Demon Next Door (by Bryan Burrough)</li>
    </ol>

    <h3>Fiction</h3>
    <ol>
        <li>1984 (by George Orwell)  <em style="background-color:powderblue;"> Highly Recommended </em></li>
        <li>The Handmaid’s Tale (by Margaret Atwood)<em style="background-color:powderblue;"> Highly Recommended </em></li>
        <li>The Testaments (by Margaret Atwood)<em style="background-color:powderblue;"> Highly Recommended </em></li>
        <li>Nation (by Terry Pratchett)</li>
        <li>Harry Potter Series (by J.K. Rowling)</li>
        <li>Lord of the Rings Series (by J.R.R Tolkien)</li>
        <li>Neverwhere (by Neil Gaiman)</li>
        <li>American Gods (by Neil Gaiman)</li>
        <li>The Dark Tower Series (by Stephen King)</li>
        <li>The Ocean at the End of the Lane (By Neil Gaiman)</li>
        <li>The Midnight Library (By Matt Haig)</li>
        <li>Paradox Bound (By Peter Clines)</li>
        <li>Norse Mythology (by Neil Gaiman)</li>
        <li>Good Omens (by Terry Pratchett and Neil Gaiman)</li>
        <li>Lock In (by John Scalzi)</li>
        <li>IT (by Stephen King)</li>
        <li>Dodger (by Terry Pratchett)</li>
        <li>The Long Earth series  (by Terry Pratchett and Stephen Baxter)</li>
        <li>The Mist (by Stephen King)</li>
        <li>Jurassic Park (by Michael Crichton)</li>
        <li>The Dispatcher (by John Scalzi)</li>
        <li>More bedtime stories for Cynics</li>
        <li>The Hunger Games Series (by Suzanne Collins)</li>
        <li>Treasure Island (by Robert Louis Stevenson)</li>
        <li>The Adventures of Tom Stranger, Interdimensional Insurance Agent (by Larry Correia)</li>
        <li>Artemis (By Andy Weir)</li>
        <li>The Man in the High Castle (by Philip K. Dick)</li>
        <li>The Sisters (by Dervla McTiernan)</li>
        <li>Camp Red Moon (by R.L. Stine)</li>
        <li>The Andromeda Strain (by Michael Crichton)</li>
        <li>Texas Ranger (by James Patterson and Andrew Bourelle) <em style="background-color:crimson;"> Not Recommended </em></li>
        <li>The President is Missing (by Bill Clinton and James Patterson) <em style="background-color:crimson;"> Not Recommended </em></li>
    </ol>

</p>