<h2>Reading List</h2>
<p>
    Here are the books that I have read. Some of them I recommend for you to read as well if you are interested, others I don't ;) 
    It's an incomplete list at the moment. 
    The books are in reverse cronological order (in each category) in which I have read/listened to them. 
    <h3>Currently Listening to:</h3> 
        A Random Walk Down Wall Street, 12th Edition (By Burton G. Malkiel)
    
    <h3>Finance and Economics</h3>
    <ul>
        <li>The Little Book That Still Beats the Market (By Joel Greenblatt)</li>
        <li>Rich Data Poor Dad: 20th Anniversary Edition (By Robert T. Kiyosaki)</li>
    </ul>

    <h3>Psychology</h3>
    <ul>
        <li>The Paradox of Choice (By Barry Schwartz)</li>
        <li>Surrounded by Idiots (By Thomas Erikson)</li>
        <li>Never Split the Difference (By Chriss Voss and Tahl Raz)</li>
    </ul>


    <h3>Business and Marketting</h3>
    <ul>
        <li>Oversubscribed (By Daniel Priestley)</li>
    </ul>

    
    <h3>Other Non-fictions</h3>
    <ul>
        <li>Prediction Machines (By Ajay Agrawal, Joshua Gans and Avi Goldfarb)</li>
    </ul>

    <h3>Fiction</h3>
    <ul>
        <li>The Midnight Library (By Matt Haig)</li>
        <li>Paradox Bound (By Peter Clines)</li>
        <li>Artemis (By Andy Weir)</li>
    </ul>

</p>